/*
 * Tweet List Styling
 */

 article.tweet {
  border-color: $color-soft-brown;
  border: 4px solid;
  margin: 2vh 3vw;
  padding: 1vh 2vw;

  > header {
    display: flex;
    flex-flow: row;
    align-items: center;

    img {
      display: none;
    }

    h3 {
      padding-left: 0.02vmin;
    }

    > p {
      display: none;
    }
  }

  > body {
    border: 0;
    margin-bottom: 0;  
    padding-bottom: 1em;
  }

  > footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 1vmin;
    padding: 0 1vw;

    p {
      margin: 0;
      width: 95%;
    }

    > div {
      display: none;
    }
  }
  &:hover,
  &:focus,
  &:active {
    box-shadow: $shadow;
    > header p,
    > header p,
    > header p {
      opacity:1;
    }
  }
}

@media (min-width: 600px) {
  article.tweet {
    > footer {  
      > div {
        display: block;
        width: 21%;
        margin-left:auto;
        i {
          color: $color-banner-blue;
          margin: 0.2vmin;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  article.tweet {
    > header {
      > p {
        display: block;
        margin-left: auto;
        color: #888888;
        opacity: 0;
      }
    }
    > body {
      border-bottom: 4px solid;
      border-color: $color-soft-brown;
    }
  }
}

@media (min-width: 1024px) {
  article.tweet {
  
    > header {
  
      img {
        display: inline;
        max-width: 64px;
        max-height: 64px;
      }
    }
  }
}