/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  min-width: 350px;

  height: 120px; /* Project Requirements */
  padding: 1.5em;

  color: white;
  background-color: $color-banner-blue;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  /* Logo */
  h1 {
    font-family: $font-logo;
    font-size: 2rem;
  }

  div {
    display: flex;
    flex-flow: column;


    /* Write a New Tweet Title */
    h2 {
      align-self: center;
      display: none;
      font-size: 1.75vmin;
    }

    /* Moving Arrows Styling*/
    i {
      align-self: center;

      color: $color-soft-red;
      font-size: 2.6em;

      padding: 0.1em;

      @keyframes mover {
        0% { transform: translateY(-15px); } /* Negative -> up */
        100% { transform: translateY(30px); } /* Positive -> down */
      }

      &:hover,
      &:focus,
      &:active {
        color: $color-vibrant-red;
        cursor: pointer;
      }
    }  
  }
}

@media (min-width:768 px) {
  nav {

    /* Logo */
    h1 {
      font-size: 3vmin;
    }

    div {

      /* Write a New Tweet Title */
      h2 {
        font-size: 1.75vmin;
      }        
    }
  }
}


@media (min-width: 1024px) {
  nav {
    max-width: 1024px; /* Fix Max Width */
    margin-left: auto;
    margin-right: auto;

    /* Logo */
    h1 {
      font-size: 3vmin;
    }
  
    div {

      /* Write a New Tweet Title */
      h2 {
        display: block;
        font-size: 1.75vmin;
      }
      /* Displays Moving Arrows and syle it with round border */
      i {

        font-size: 1.4em;
        padding: 1vmin;

        border : solid 4px rgba(255, 255, 255, 0.0);
        border-radius: 40px;
  
        @keyframes mover {
          0% { transform: translateY(-15px); } /* Negative -> up */
          100% { transform: translateY(5px); } /* Positive -> down */
        }
        
        &:hover,
        &:focus,
        &:active {
          color: $color-vibrant-red;
          border : solid 4px rgba(255, 255, 255, 0.3);
          border-radius: 40px;
          cursor: pointer;
        }
      }
        
    }
  }
}