/*
 * Tweet List Styling
 */

 article.tweet {
  border-color: $color-soft-brown;
  border: 4px solid;
  margin: 2vh 3vw;
  padding: 1vh 2vw;

  > header {
    display: flex;
    flex-flow: row;
    align-items: center;

    img {
      max-width: 64px;
      max-height: 64px;
    }

    h3 {
      padding-left: 0.5vw;
    }

    p {
      margin-left: auto;
      color: #888888;
      opacity: 0;
    }
  }

  > p {
    border: 0;
    border-bottom: 4px solid;
    border-color: $color-soft-brown;
  
    margin-bottom: 0;
  
    padding-bottom: 1em;
  }

  > footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 1vh 1vw;
    padding: 0 1vw;

    p {
      margin: 0;
    }

    i {
      color: $color-banner-blue;
      margin: 0.2vh 0.2vw;
    }
  }
}

/*
 * :hover
 */

article.tweet:hover,
article.tweet:focus,
article.tweet:active {
  box-shadow: $shadow;
}

article.tweet:hover > header p,
article.tweet:focus > header p,
article.tweet:active > header p {
  opacity:1;
}