// Colors Tweeter
$color-banner-blue: #4056A1;
$color-soft-brown: #545149;
$color-text-white: #f4f1ec;
$color-background-orange: #CF9A3E;
$color-vibrant-red: red;
$color-soft-red: #DE5039;
$color-shadow-gray: #CCCCCC;
$color-main-background: #f4f1ec;

// Fonts
$font-logo: 'Bungee', sans-serif;
$font-default: 'Source Sans Pro', sans-serif;

// Styling Elements
$shadow: 0.188em 0.188em 0.313em 0.375em $color-shadow-gray;