/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

 nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  height: 120px; /* Project Requirements */
  padding: 1.5em;

  color: #FFFFFF;
  background-color: #4056A1;
 }

 nav ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  
  list-style-type: none;
 }

/*
 * Logo section
 */

 #logo {
  font-family: 'Bungee', sans-serif;
 }

/*
 * Write a new tweet section
 */

 #writeTweet {
  font-size: 1.25rem;
 }

 nav li#writeTweet {
  display: flex;
  flex-flow: column;
 }

 nav i {
  align-self: center;
  margin: 0.3vh;
  color: #DE5039;
 }

 /*
 * Red Arrow Animation
 */

 .moveUpDown {
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% { transform: translateY(-3px); } /* Negative -> up */
  100% { transform: translateY(8px); } /* Positive -> down */
}