.new-tweet {
  display: grid;
  grid-template-areas:
    "header"
    "form";
  grid-template-columns: auto;  
  grid-template-rows: auto auto;
  margin: 2em;
}

.new-tweet h2 {
  grid-area: header;
  justify-self: center;
}

.new-tweet form {
  grid-area: form;
  display: grid;
  grid-template-areas:
    "textArr textArr textArr"
    "inputArr . countArr";
  grid-template-columns: auto auto auto;  
  grid-template-rows: auto auto;
}
.new-tweet textarea {
  grid-area: textArr;
  resize: none;  /* Disable multi-row */
  font-weight: bold;
  color: #545149;
  border: 0;
  border-bottom: 4px solid;
  margin-bottom: 10px;
  border-color: #545149;
  background-color: #f4f1ec;
}
.new-tweet input {
  grid-area: inputArr;
  font-family: 'Bungee', sans-serif; /* Logo */
  background-color: #43539C;
  color:white;
  justify-self: start;
}
.new-tweet .counter {
  grid-area: countArr;
  font-family: 'Bungee', sans-serif; /* Logo */
  justify-self: end;
}

.overfill {
  color:red;
}

