/*
 * Tweet List Styling
 */

article.tweet {
  border-color: #545149;
  border: 4px solid;
  margin: 2vh 3vw;
  padding: 1vh 2vw;
}

/*
 * Header
 */

 article.tweet > header {
  display: flex;
  flex-flow: row;
  align-items: center;
}

article.tweet img {
  max-width: 64px;
  max-height: 64px;
}

 article.tweet h3.name {
  padding-left: 0.5vw;
}

article.tweet p.handle {
  margin-left: auto;
  color: #888888;
  opacity: 0;
}

/*
 * Main Text
 */

 article.tweet > p {
  border: 0;
  border-bottom: 4px solid;
  border-color: #545149;

  margin-bottom: 0;

  padding-bottom: 1em;
}

/*
 * Footer
 */

 article.tweet > footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 1vh 1vw;
  padding: 0 1vw;
}

article.tweet > footer > p {
  margin: 0;
}

article.tweet div.tools {
  color: #43539C;
}

article.tweet div.tools i {
  margin: 0.2vh 0.2vw;
}

/*
 * :hover
 */

article.tweet:hover,
article.tweet:focus,
article.tweet:active {
  box-shadow: 3px 3px 5px 6px #CCCCCC;
}

article.tweet:hover p.handle,
article.tweet:focus p.handle,
article.tweet:active p.handle {
  opacity:1;
}